<!DOCTYPE html>
<html>
	<head>
		<%- include('../partials/header', { title: 'Nuclear Energy Simulator 2017 - Essay' }) %>
		<link rel="stylesheet" href="css/essay.css">
	</head>
	<body>
		<div class="paper">
			<a href="/" class="return">
				<i class="fa fa-arrow-left" aria-hidden="true"></i>
				Return to Menu
			</a>
			<div class="bibliography">
				<h3>Works Cited</h3>
				<p>"Atomic Energy." United Nations, www.un.org/en/sections/issues-depth/atomic-energy/index.html. Accessed 9 Mar. 2017.</p>
				<p>"Civilian HEU Reduction and Elimination Resource Collection." Nuclear Threat Initiative, 12 Oct. 2016, www.nti.org/analysis/reports/civilian-heu-reduction-and-elimination/. Accessed 12 May 2017.</p>
				<p>Comby, Bruno. "The Benefits of Nuclear Energy." Environmentalists for Nuclear Energy, ecolo.org/documents/documents_in_english/BENEFITS-of-NUCLEAR.pdf. Accessed 19 Apr. 2017.</p>
				<p>"Fuel Comparison." European Nuclear Society, www.euronuclear.org/info/encyclopedia/f/fuelcomparison.htm. Accessed 13 May 2017.</p>
				<p>"History of Nuclear Energy Production." Ebsco Host Mas Ultra, EBSCO Publishing, connection.ebscohost.com/science/nuclear-power/history-nuclear-energy-production. Accessed 5 Apr. 2017.</p>
				<p>"International Atomic Energy Agency (IAEA)." Global Issues in Context Online Collection, Farmington Hills, Gale, 2016. Global Issues in Context, link.galegroup.com/apps/doc/CP3208520174/GIC?u=sain62671&xid=9762f277. Accessed 9 Mar. 2017.</p>
				<p>Jacobs, Harrison. "The 17 Countries Generating the Most Nuclear Power." Business Insider, 6 Mar. 2014, www.businessinsider.com/countries-generating-the-most-nuclear-energy-2014-3?op=1. Accessed 21 Apr. 2017.</p>
				<p>"Nuclear Costs in Context." Nuclear Energy Institute, www.nei.org/www.nei.org/files/fe/fed92b11-8ea6-40df-bb0c-29018864a668.pdf. Accessed 11 May 2017.</p>
				<p>"Nuclear Energy." Center for Nuclear Science and Technology Information, American Nuclear Society, www.nuclearconnect.org/know-nuclear/applications/energy. Accessed 15 May 2017.</p>
				<p>"Nuclear Power in France." World Nuclear Association, www.world-nuclear.org/information-library/country-profiles/countries-a-f/france.aspx. Accessed 1 May 2017.</p>
				<p>"Nuclear Power in the USA." World Nuclear Association, www.world-nuclear.org/information-library/country-profiles/countries-t-z/usa-nuclear-power.aspx. Accessed 1 May 2017.</p>
				<p>"Nuclear Power in the World Today." World Nuclear Association, Jan. 2017, www.world-nuclear.org/information-library/current-and-future-generation/nuclear-power-in-the-world-today.aspx. Accessed 6 Apr. 2017.</p>
				<p>"Uranium Markets." World Nuclear Association, www.world-nuclear.org/information-library/nuclear-fuel-cycle/uranium-resources/uranium-markets.aspx. Accessed 12 May 2017.</p>
				<p>"World Nuclear Power Plants in Operation." Nuclear Energy Institute, www.nei.org/Knowledge-Center/Nuclear-Statistics/World-Statistics/World-Nuclear-Power-Plants-in-Operation. Accessed 11 May 2017.</p>

			</div>
			<a href="/" class="return">
				<i class="fa fa-arrow-left" aria-hidden="true"></i>
				Return to Menu
			</a>
		</div>
		<%- include('../partials/footer') %>
	</body>
</html>
