<!DOCTYPE html>
<html>
	<head>
		<%- include('../partials/header', { title: 'Nuclear Energy Simulator 2017 - Essay' }) %>
		<link rel="stylesheet" href="css/essay.css">
	</head>
	<body>
		<div class="paper">
			<a href="/" class="return">
				<i class="fa fa-arrow-left" aria-hidden="true"></i>
				Return to Main Screen
			</a>
			<div class="essay">
				<div class="header">
					<p>Michael Gira</p>
					<p>Mr. Bey</p>
					<p>Global Issues</p>
					<p>8 May, 2017</p>
				</div>
				<div class="title">
					<h1 class="display-2">All Clear for Nuclear</h1>
					<h3>The Challenges that Come with the Mainstream Adoption of Nuclear Energy</h3>
				</div>
				<p id="intro" class="paragraph">
					In 2016, the world used a little over 100,000 terawatt-hours of energy: equivalent to 9,425 million tons of oil (“Key World”). Energy, quite literally, makes the world go round. To keep up with the increasing demand, energy is produced in a numerous amount of ways. Over the past several decades, nuclear is one of these technologies that has gained traction and produced a part of the world’s energy. Compared to current mainstream sources of energy like fossil fuels, nuclear energy does not release greenhouse gasses into the atmosphere. However, there are many challenges that come with the adoption of nuclear energy. Politically, it must be regulated to ensure it is used for peaceful purposes only and safeguards to make sure the technology is safe. Socially, many people are hesitant about adopting nuclear energy. Events such as the Three Mile Island accident in the United States and the Fukushima accident in Japan have hindered the development of nuclear power plants in those countries. Finally, one must consider the economic challenges of adopting nuclear energy; nuclear power plants are expensive and it is sometimes hard to compete with the prices of fossil fuels. While the adoption of nuclear energy is becoming increasingly important, many hurdles—political, social, and economic—prevent nuclear energy from reaching its full potential.
				</p>
				<a href="/" class="return">
					<i class="fa fa-arrow-left" aria-hidden="true"></i>
					Return to Main Screen
				</a>
				<p id="background" class="paragraph">
					Before looking at the present situation of nuclear energy, it helps to have a solid grasp on its background and history. Nuclear energy was pioneered by physicist Enrico Fermi in 1934. By colliding uranium atoms with neutrons, he created the first self-sustaining nuclear reaction in 1942. The value of this newfound technology was quite apparent, and throughout the 1950s and 1960s, nuclear power plants began to be built (“History of Nuclear”). At the end of World War II, two atomic bombs (a subset of nuclear weapons) were dropped on Hiroshima and Nagasaki marking a new era of technology: the nuclear age. The United Nations (UN) was formed as a result of World War II and established the UN Atomic Energy Commission “to deal with the problems raised by the discovery of atomic energy” (“Atomic Energy”). Subsequently, in 1957, the International Atomic Energy Agency (IAEA) was created—an independent organization that works closely with the United Nations monitoring issues concerning nuclear technology (“International Atomic”).
				</p>
				<a href="/" class="return">
					<i class="fa fa-arrow-left" aria-hidden="true"></i>
					Return to Main Screen
				</a>
				<p id="importance" class="paragraph">
					Nuclear energy is a global issue because its mainstream adoption is critical to the health of the environment. Currently, 31 out of the 196 countries around the world have adopted nuclear power which accounts for about 11% of the world’s power generation (“Nuclear Power in the World”; “How Many”). However, another 85% of the world’s energy is derived from fossil fuels, coal, oil, and gas. The burning of fossil fuels releases 23 billion tons of carbon dioxide into the atmosphere every year and has a detrimental impact on the environment (Comby). According to NASA, greenhouse gasses such as carbon dioxide cause global rising temperatures, increasing droughts and heat waves, rising sea levels, and more (“Global Climate”). Nuclear energy is actually considered one of the cleanest sources of energy in terms of greenhouse gas emissions, even when taking into account building nuclear facilities and producing enriched uranium (List). The consequences of existing mainstream energy sources are why Bruno Comby, President of the organization “Environmentalists for Nuclear Energy,” argues that “we must urgently adopt new lifestyles and find other energy sources.” Comby reasons that while renewable energy sources like solar and wind are advantageous in some situations, they are “quantitatively incapable of supplying the energy required by an industrial civilization” (Comby). He exemplifies his claim showing the sheer power of nuclear energy: in terms of power generation, the EPR reactor France built in Normandy is equivalent to lining up modern wind turbines all the way from Genoa in Italy to Barcelona in Spain (Comby). Nuclear energy is one of the only alternative energy sources powerful enough to meet the current energy demands of society while remaining environmentally-friendly.
				</p>
				<a href="/" class="return">
					<i class="fa fa-arrow-left" aria-hidden="true"></i>
					Return to Main Screen
				</a>
				<div class="image">
					<img src="images/nuclear-electricity-production.png">
					<small class="description">
						The graph above from the World Nuclear Association shows the production of nuclear energy over time per region. An increasing amount of power is being generated by nuclear (“Nuclear Power in the World”).
					</small>
				</div>
				<a href="/" class="return">
					<i class="fa fa-arrow-left" aria-hidden="true"></i>
					Return to Main Screen
				</a>
				<p id="political" class="paragraph">
					As a political hurdle, the regulation of nuclear energy is crucial to prevent the technology from being used for malicious purposes. There have been international treaties such as the Treaty on the Non-Proliferation of Nuclear Weapons (NPT) that limit the use of nuclear weapons and encourage the use of nuclear for peaceful purposes (“Treaty on the Non-Proliferation”). Through the NPT, the International Atomic Energy Agency is responsible for inspecting nuclear sites and materials (“Atomic Energy”). The IAEA also helps countries use nuclear techniques to promote sustainable development and more (“Our Work”). Overall, the efforts of the IAEA have been positive. It has numerous success stories ranging from developing nuclear power infrastructure in Europe, to training technicians in Africa, to helping finish a nuclear power plant in Argentina (“Energy Success”). On a smaller scale, there are many policies being passed in countries to encourage the development of nuclear energy. For example, with 75% of its energy generated from nuclear, France is considered “ahead of the world” (Jacobs). This is due to the policies France has created to minimize imports of fuel and increase energy security (“Nuclear Power in France”). The United States has also developed policies in the 1990s which have fostered the development of nuclear energy (“Nuclear Power in the USA). Not only must companies comply with regulation, but they must also worry about the stigma against the word “nuclear.”
				</p>
				<a href="/" class="return">
					<i class="fa fa-arrow-left" aria-hidden="true"></i>
					Return to Main Screen
				</a>
				<p id="social" class="paragraph">
					Socially, companies and governments must overcome the public opposition against nuclear energy which can hinder development. Most of the nuclear reactors in the United States were built in the middle of the 1970s, but the Three Mile Island accident in 1979 created a lot of fear over the dangers of nuclear. This halted construction of any new nuclear power plants for the next 30 years (Jacobs). Japan has also struggled to adopt nuclear energy because of concerns. Before 2011, 30% of Japan’s electricity was generated by nuclear. After the Fukushima accident, however, there was a strong public opposition to nuclear and its usage plummeted to eventually zero. Slowly but surely, many nuclear reactors are in the process of restarting (“Nuclear Power in Japan”). After overcoming the political and economic challenges, there’s one last issue to overcome: the economic aspect.
				</p>
				<a href="/" class="return">
					<i class="fa fa-arrow-left" aria-hidden="true"></i>
					Return to Main Screen
				</a>
				<p id="economic" class="paragraph">
					Economically, there must be incentives in order to sustain the development of nuclear energy. There are many aspects to consider when funding a nuclear power plant. There is the initial cost of building a facility; this includes construction, equipment, engineering, and labor. There are also costs for maintaining a nuclear power plant facility; this includes costs for fuel and maintenance. Finally, there are other expenses such as nuclear-specific taxes (“The Economics”). After raising the capital to start up these facilities, however, according to the World Nuclear Association, “Nuclear power is cost competitive with other forms of electricity generation, except where there is direct access to low-cost fossil fuels” (“The Economics”). The United States is one of these countries where low-cost fossil fuels beat the cost of nuclear energy. Despite the policies created to foster the development of nuclear energy in the US, a decreasing regulation on wholesale electricity and low cost of gas have made it challenging to fund new energy projects (“Nuclear Power in the USA”).
				</p>
				<a href="/" class="return">
					<i class="fa fa-arrow-left" aria-hidden="true"></i>
					Return to Main Screen
				</a>
				<p id="conclusion" class="paragraph">
					There are many regulations, safeguards, social stigma, and money involved with building nuclear power plants and adopting nuclear energy. However, after overcoming these challenges, nuclear is a powerful and clean alternative to the existing energy sources that require burning fossil fuels and harming the environment. By adopting nuclear energy, we are one step closer to a more sustainable future that can meet the needs of today’s society.
				</p>
				<a href="/" class="return">
					<i class="fa fa-arrow-left" aria-hidden="true"></i>
					Return to Main Screen
				</a>
			</div>
			<div class="bibliography">
				<h3>Works Cited</h3>
				<p>"Atomic Energy." United Nations, www.un.org/en/sections/issues-depth/atomic-energy/index.html. Accessed 9 Mar. 2017.</p>
				<p>Comby, Bruno. "The Benefits of Nuclear Energy." Environmentalists for Nuclear Energy, ecolo.org/documents/documents_in_english/BENEFITS-of-NUCLEAR.pdf. Accessed 19 Apr. 2017.</p>
				<p>"The Economics of Nuclear Power." World Nuclear Association, www.world-nuclear.org/information-library/economic-aspects/ economics-of-nuclear-power.aspx. Accessed 4 May 2017.</p>
				<p>"Energy Success Stories." International Atomic Energy Agency, www.iaea.org/technicalcooperation/Pub/Suc-stories/Energy.html. Accessed 1 May 2017.</p>
				<p>"Global Climate Change: Vital Signs of the Planet." Global Climate Change, edited by Holly Shaftel, climate.nasa.gov/effects/. Accessed 21 Apr. 2017.</p>
				<p>"History of Nuclear Energy Production." Ebsco Host Mas Ultra, EBSCO Publishing, connection.ebscohost.com/science/nuclear-power/history-nuclear-energy-production. Accessed 5 Apr. 2017.</p>
				<p>"How Many Countries?" Infoplease, www.infoplease.com/world/world-statistics/how-many-countries. Accessed 21 Apr. 2017.</p>
				<p>"International Atomic Energy Agency (IAEA)." Global Issues in Context Online Collection, Farmington Hills, Gale, 2016. Global Issues in Context, link.galegroup.com/apps/doc/CP3208520174/GIC?u=sain62671&xid=9762f277. Accessed 9 Mar. 2017.</p>
				<p>Jacobs, Harrison. "The 17 Countries Generating the Most Nuclear Power." Business Insider, 6 Mar. 2014, www.businessinsider.com/countries-generating-the-most-nuclear-energy-2014-3?op=1. Accessed 21 Apr. 2017.</p>
				<p>"Key World Energy Statistics 2016." International Energy Agency, 2016, www.iea.org/publications/freepublications/publication/KeyWorld2016.pdf. Accessed 7 May 2017.</p>
				<p>List, Regina A. "Nuclear Power." Encyclopedia of Global Studies, edited by Helmut K. Anheier et al., vol. 3, Thousand Oaks, SAGE Reference, 2012, pp. 1251-55. Gale Virtual Reference Library, go.galegroup.com/ps/i.do?p=GVRL.GlobalIssues&sw=w&u=sain62671&v=2.1&it=r&id=GALE%7CCX4183000396&asid=5714cccaa7b08f7a3e5e203d8d5a3726. Accessed 4 May 2017.</p>
				<p>"Nuclear Power in France." World Nuclear Association, www.world-nuclear.org/information-library/country-profiles/countries-a-f/france.aspx. Accessed 1 May 2017.</p>
				<p>"Nuclear Power in Japan." World Nuclear Association, www.world-nuclear.org/information-library/country-profiles/countries-g-n/japan-nuclear-power.aspx. Accessed 1 May 2017.</p>
				<p>"Nuclear Power in the USA." World Nuclear Association, www.world-nuclear.org/information-library/country-profiles/countries-t-z/usa-nuclear-power.aspx. Accessed 1 May 2017.</p>
				<p>"Nuclear Power in the World Today." World Nuclear Association, Jan. 2017, www.world-nuclear.org/information-library/current-and-future-generation/nuclear-power-in-the-world-today.aspx. Accessed 6 Apr. 2017.</p>
				<p>"Our Work." International Atomic Energy Agency, www.iaea.org/OurWork/. Accessed 30 Apr. 2017.</p>
				<p>"Treaty on the Non-Proliferation of Nuclear Weapons." U.S. Department of State, 2010, www.state.gov/documents/organization/141503.pdf. Accessed 4 May 2017.</p>
			</div>
			<a href="/" class="return">
				<i class="fa fa-arrow-left" aria-hidden="true"></i>
				Return to Main Screen
			</a>
		</div>
		<%- include('../partials/footer') %>
	</body>
</html>
