<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Nuclear Energy Simulator 2017</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body>
		<div id="game">
			<div class="game-content">
				<div class="game-buy">
					<h3>Build a Reactor</h3>
					<p>Simply drag and drop onto the map</p>
					<div class="buy-reactors"></div>
				</div>
				<div class="game-view">
					<img class="background" src="images/background.png">
				</div>
			</div>
			<div class="game-status">
				<div class="status-group">
					<p class="status-item status-time">Time <span>12:00</span></p>
				</div>
				<div class="status-group">
					<p class="status-item status-money"><strong>$<span>0</span></strong></p>
					<p class="status-item status-moneygained"><strong><span>0</span></strong> <small>per hour</small></p>
				</div>
				<div class="status-group">
					<p class="status-item status-generated"><strong><span>0</span></strong> <small>Megawatts per hour</small></p>
					<p class="status-item status-percentage"><strong><span>0</span>%</strong> <small>Converted to Nuclear</small></p>
				</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		<script src="js/nuclear.js"></script>
	</body>
</html>
