<!DOCTYPE html>
<html>
	<head>
		<%- include('../partials/header', { title: 'Nuclear Energy Simulator 2017' }) %>
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body>
		<div class="menu">
			<h1 class="display-2">Nuclear Energy Simulator 2017</h1>
			<div class="buttons">
				<a href="/play" class="btn btn-lg btn-block btn-success">Play</a>
				<a href="/essay" class="btn btn-lg btn-block btn-primary">Read the Essay</a>
				<!-- <a href="/about" class="btn btn-lg btn-block btn-info">About</a> -->
			</div>
		</div>
		<div class="footer">
			<h4>Created By Michael Gira</h4>
		</div>

		<%- include('../partials/footer') %>
		<script src="js/nuclear.js"></script>
	</body>
</html>
