html, body {
	height: 100%;
}

body {
	background-image: url('/images/main-screen.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	display: flex;
	justify-content: center;
	align-items: center;
}

.message {
	max-width: 60.5rem;
	padding: 1rem;
	color: #fff;

	h1 {
		color: #ff9800;
		text-shadow: 1px 1px 2px #111111;
	}

	p {
		font-size: 2rem;
		text-shadow: 1px 1px 2px #111111;
	}

	.buttons {
		width: 80%;
		max-width: 20rem;
		margin: 0 auto;
	}
}

.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;

	h4 {
		margin-left: 0.5rem;
		color: #fff;
	}
}
