html, body {
	height: 100%;
}

body {
	background-image: url('/images/main-screen.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	display: flex;
	justify-content: center;
	align-items: center;
}

.menu {
	padding: 1rem;
	color: #fff;

	h1 {
		margin-bottom: 5rem;
		color: #ff9800;
		text-shadow: 1px 1px 2px #111111;
	}

	.buttons {
		width: 80%;
		max-width: 20rem;
		margin: 0 auto;
	}
}
