$padding: 0.5rem;
$transition-duration: 600ms;
$transition-easing: cubic-bezier(0.23, 1, 0.32, 1);

html, body {
	height: 100%;
}

#game {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	.game-content {
		width: 100%;
		height: 100%;

		display: flex;

		.game-buy {
			height: 100%;
			width: 32rem;

			padding: $padding;

			background: #f7f7f7;

			.buy-reactors {
				.buy-reactor {
					width: 12rem;
					height: 12rem;

					margin-bottom: $padding / 2;
					padding: $padding;

					display: inline-block;

					background: darken(#f7f7f7, 10%);
					border: 1px solid rgba(#292b2c, 0.5);

					transition: background, border $transition-duration $transition-easing;

					&.dragging {
						background: none;
						border: none;

						*:not(.reactor-image) {
							opacity: 0;
						}
					}

					* {
						transition: opacity ($transition-duration / 2) $transition-easing;
					}

					p {
						margin: 0;
					}

					.reactor-name {
						text-align: center;
					}

					.reactor-image {
						display: block;
						margin: 0 auto;
					}
				}
			}
		}

		.game-view {
			width: auto;

			display: flex;
			justify-content: center;
			align-items: center;

			background: #3777dd;


			.background {
				max-width: 50%;
				max-height: 100%;
			}
		}
	}

	.game-status {
		width: 100%;
		padding: 0.5rem;

		display: flex;
		justify-content: space-between;
		align-items: center;

		background: #292b2c;
		color: #eee;
		box-shadow: 0 -3px 6px rgba(0,0,0,0.16), 0 -3px 6px rgba(0,0,0,0.23);

		.status-group {
			display: flex;
			align-items: center;

			.status-item {
				margin: 0;

				font-size: 1.5rem;

				&:not(:first-child) {
					padding-left: $padding;
				}

				&:not(:last-child) {
					padding-right: $padding;
					border-right: 1px solid rgba(#eee, 0.25);
				}
			}
		}
	}
}
